@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Montserrat&display=swap');

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .body{ 
background-color: rgb(220, 235, 217);  
}

.divlogo{
 display: flex;
 height: 5rem;
 justify-content: space-between;
 align-items: center;
 padding: 0.625rem;
}

img {
    width: 15rem;
}

    .ul{
        align-items: flex-end;
        padding: 1.25rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        
    }

    .li{
    color: aliceblue; 
  
    }

h1,h3{
 color :rgba(65, 111, 57, 0.233);
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 400;
}

.textoprincipal{
color: rgba(255, 255, 255, 0.993);
font-family: 'Josefin Sans', sans-serif;
font-weight: 100;
font-size: 2rem;
padding: 10rem;

}

.logo {
background-image:url(../assets/imagenes/logodorado.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 56.25rem;
width: 100%;
position: relative;
}

.tituloprincipal {
color:rgb(84, 104, 73);
text-align: center;
padding-inline-end: 1.25rem;
font-size: 3rem;
padding: 12.5rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
}

.textosecundario{
color :rgb(65, 111, 57);
text-align: center;
padding-inline-end: 1.25rem;
font-size: 3rem;
margin-top: 6.25rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
padding-bottom: 3.125rem;
}

.textosub{
text-align: center;
padding-inline-end: 1.25rem;
font-size: 2rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 200;
margin-bottom: 6.25rem;
color: #080808
}

.textoita{
color :rgb(65, 111, 57);
text-align: center;
padding-inline-end: 1.25rem;
font-size: 3rem;
margin-top: 6.25rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
padding-bottom: 3.125rem;
}

.textoita2{
color: #080808;
text-align: center;
padding-inline-end: 1.25rem;
font-size: 2rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 200;
margin-bottom: 6.25rem;
font-weight: 6.25rem; 
}

.footer{
font-family: 'Montserrat', sans-serif;
color: rgba(255, 255, 255, 0.993);
background-color: rgb(8, 14, 7);
text-align: center;
}

.img2{ 
position:relative;
margin-left: 15%;
margin-block-end: 10rem;

}

.header1{
background-image: url(../assets/imagenes/logopescado.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 56.25rem;
width: 100%;
position: relative;
}

.form{
width: 28.125rem;
margin:auto;
background:rgba(0, 0, 0, 0.199);
padding: 0.625rem 1.25rem;
box-sizing: border-box;
margin-top: 1.25rem;
border-radius: 0.438rem;
font-family: 'Josefin Sans', sans-serif;
}
input, textarea {
width: 100%;
margin-bottom: 1.25rem;
padding: 0.438rem;
box-sizing: border-box;
font-size: 1.063rem;
border: none;
font-family: 'Josefin Sans', sans-serif;
}

.h1c{
color: rgb(253, 253, 253);    
text-align: center;
font-size: 1.875rem;
margin-bottom: 1.25rem;
font-family: 'Josefin Sans', sans-serif;

}

textarea{
min-height: 6.25rem;
min-height: 12.5rem;
max-width: 100%;
}

#boton{
    background-color:rgb(65, 111, 57);
    color: #fff;
    padding: 1.25rem;
}

.wsp{
color: rgb(253, 253, 253);
text-align: center;
padding-inline-end: 1.25rem;
font-size: 3rem;
padding: 6.25rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
}

.ubicacion{
color: rgb(253, 253, 253);
text-align: center;
padding-inline-end: 1.25rem;
font-size: 3rem;
padding: 1.875rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
}

.header2 {
background-image: url(../assets/imagenes/logo3.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
position: relative;
}

.header3{
    background-image: url(../assets/imagenes/logo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 56.25rem;
    width: 100%;
    position: relative;
 }

 .header{
background-image: url(../assets/imagenes/logo5.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
position: relative;
 }

 :root{
    --facebook: #101058f6;
    --twitter: #0b0bc796;
    --youtube: #a7212159; 
    --whatsapp: #0df053;
    }
    
    .redescontainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    }
    
    .redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;    
    }
    
    .redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 3.125rem;
    font-size: 1.125rem;
    box-shadow: 0 0.188rem 0.313rem 0rem rgba(0, 0 , 0, .2);
    transition: .2s;
    }
    
    .redes-container ul:hover a{
    filter: blur(2px);    
    }
    
    .redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0,.2);
    filter: none;
    }
    
    .redes-container ul li .facebook{
    background: var(--facebook);
    }
    
    .redes-container ul li .twitter{
    background: var(--twitter);    
    }
    
    .redes-container ul li .youtube{
    background: var(--youtube);
    }

    .redes-container ul li .whatsapp{
        background: var(--whatsapp);
  }
   

   .whatsapp{
    position: fixed;
    width: 3.438rem;
    height: 3.438rem;
    line-height: 3.438rem;
    bottom: 1.875rem;
    right: 1.875rem;
    background: #0df053;
    color: #fff;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    box-shadow: 0rem 0.063rem 0.625rem rgba(0, 0 , 0, .3);
    z-index: 100;
   }
   
   #galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
   }

   #galeria img {
    width: 100%;
    height: 250px;
   }

   #galeria img:hover{
    border: 5px solid #f7f7f7;
   }





  @media screen and (max-width: 768px) {
   
 .divlogo{
 background-repeat: no-repeat;
 background-size: cover;
 width: 50px;
 align-items: center;

}

.index li{ 
padding: 0px;
position: relative;
font-family: 'Montserrat', sans-serif;
font-size: 8px;

}
.ul{
    text-align: right;
}

.logo {
    background-image:url(../assets/imagenes/logodorado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}

.tituloprincipal {
    text-align: center;
    padding-inline-end: 50px;
    font-size: 20px;
    padding: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 10px;
}

.textoprincipal{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 10px;
    font-size: 13px;
    padding: 70px;
 }
 

.textosecundario{
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
    padding-bottom: 3.125rem;
    }

    .textosub{
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    margin-top: 0.5px;
}

.textoita{
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
    padding-bottom: 3.125rem;
    }

.textoita2{
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    font-weight: 6.25rem; 
        }

 .footer{
    text-align: center;
    height: 100px;
    width: auto;
}

.redescontainer {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    }
    
    .redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 1rem;
    height: 1rem;
    text-align: center;    
    }
    
    .redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 1rem;
    font-size: 10px;
    box-shadow: 0 0.188rem 0.313rem 0rem rgba(0, 0 , 0, .2);
    transition: .2s;
    }

    .whatsapp{
        position: fixed;
        width: 1.438rem;
        height: 1.438rem;
        line-height: 1.438rem;
        bottom: 1.875rem;
        right: 1.875rem;
        background: #0df053;
        color: #fff;
        border-radius: 3.125rem;
        text-align: center;
        font-size: 1.875rem;
        box-shadow: 0rem 0.063rem 0.625rem rgba(0, 0 , 0, .3);
        z-index: 100;
  }

  .redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 1.125rem;
    height: 1.125rem;
    text-align: center;  
 }

 .redes-container ul li a{
    padding: 0 15px;
    line-height: 1.125rem;
    font-size: 0.5rem;
    text-align: center;
    margin-left: 10px;
    
}


}