@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Montserrat&display=swap");
/* maps */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover; }

/*   BACKGROUND IMAGENES DE LAS 5 PAGINAS DEL HEADER. */
.logo {
  background-image: url(../assets/imagenes/logodorado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.header {
  background-image: url(../assets/imagenes/logo5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.header1 {
  background-image: url(../assets/imagenes/logopescado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.header2 {
  background-image: url(../assets/imagenes/logo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative; }

.header3 {
  background-image: url(../assets/imagenes/logo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.imagenlogo {
  width: 15rem; }

/*   HEADER ANIDADO */
.ul {
  align-items: flex-end;
  padding: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  /*
    align-items: flex-end;
    padding: 1.25rem;
    font-family: $letra;
    font-weight: 700;
  */ }
  .ul .li {
    color: aliceblue; }

.tituloprincipal {
  color: rgba(32, 56, 19, 0.829);
  text-align: center;
  padding-bottom: 0rem;
  font-size: 3rem;
  padding: 10rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.textoprincipal {
  color: rgba(255, 255, 255, 0.993);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  padding: 20rem;
  text-align: center; }

@media screen and (max-width: 768px) {
  .imagenlogo {
    width: 7rem; }
  .logo {
    background-image: url(../assets/imagenes/logodorado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
    width: 100%;
    position: relative; }
  .header {
    background-image: url(../assets/imagenes/logo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
    width: 100%;
    position: relative; }
  .header1 {
    background-image: url(../assets/imagenes/logopescado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
    width: 100%;
    position: relative; }
  .header2 {
    background-image: url(../assets/imagenes/logo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
    width: 100%;
    position: relative; }
  .header3 {
    background-image: url(../assets/imagenes/logo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: initial;
    width: 100%;
    position: relative; }
  .tituloprincipal {
    text-align: center;
    padding-bottom: 0rem;
    font-size: 20px;
    padding: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 10px; }
  .textoprincipal {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 13px;
    font-size: 13px;
    padding: 0.2rem; } }

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .textoprincipal {
    color: rgba(255, 255, 255, 0.993);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    padding: 0.7rem;
    text-align: center; } }

.textosecundario {
  color: #416f39;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 3rem;
  margin-top: 6.25rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 3.125rem; }

.textosub {
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 6.25rem;
  color: #080808; }

.textoita {
  color: #416f39;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 3rem;
  margin-top: 6.25rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 3.125rem; }

.textoita1 {
  color: #080808;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 6.25rem;
  font-weight: 6.25rem; }

/* MEDIA QUARY MAIN INDEX */
@media screen and (max-width: 768px) {
  .textosecundario {
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
    padding-bottom: 3.125rem; }
  .textosub {
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    margin-top: 0.5px; }
  .textoita {
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
    padding-bottom: 3.125rem; }
  .textoita1 {
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    font-weight: 6.25rem; } }

/*  GALERIA  IMG */
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid #f7f7f7; }

.textoita2 {
  color: #080808;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 6.25rem;
  font-weight: 6.25rem; }

@media screen and (max-width: 768px) {
  .textoita2 {
    text-align: center;
    padding-inline-end: 1.25rem;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 6.25rem;
    font-weight: 6.25rem; } }

/* MAIN CONTACTO*/
/*
.ubicacion{
    color: rgb(29, 66, 22);
    text-align: $center;
    padding-inline-end: 1.25rem;
    font-size: 3rem;
    padding: 1.875rem;
    font-family: $letra;
    font-weight: 400;
    }
*/
.ubicacion {
  color: #1d4216;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 3rem;
  padding: 1.875rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

/*   FOOTER ANIDADO */
.footer {
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255, 255, 255, 0.993);
  background-color: #080e07;
  position: absolute;
  width: 100%;
  clear: both;
  text-align: center; }

:root {
  --facebook: #0417d7;
  --twitter: #0417d7;
  --youtube: #861111b4;
  --whatsapp: #0df053; }

.redescontainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center; }

/* (operaciones en li) */
.redes-container ulhover a {
  filter: blur(2px); }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 3.125rem;
  height: 3.125rem;
  /*
                width: 3.125rem;
                height: 3.125rem;
                */
  text-align: center; }
  .redes-container ul li .facebook {
    background: var(--facebook); }
  .redes-container ul li .twitter {
    background: var(--twitter); }
  .redes-container ul li .youtube {
    background: var(--youtube); }
  .redes-container ul li .whatsapp {
    background: var(--whatsapp);
    position: fixed;
    width: 3.438rem;
    height: 3.438rem;
    line-height: 3.438rem;
    bottom: 1.875rem;
    right: 1.875rem;
    background: #0df053;
    color: #fff;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    box-shadow: 0rem 0.063rem 0.625rem rgba(0, 0, 0, 0.3);
    z-index: 100; }
    .redes-container ul li .whatsapp a:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
      filter: none; }

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 3.125rem;
  font-size: 1.125rem;
  box-shadow: 0 0.188rem 0.313rem 0rem rgba(0, 0, 0, 0.2);
  transition: .2s; }

.textofooter {
  text-align: center;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #fff; }

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
    height: 100px;
    width: 100%; }
  .redescontainer {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center; }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 1rem;
    height: 1rem;
    text-align: center; }
  .redes-container ul li a {
    padding: 1 15px;
    line-height: 1.125rem;
    font-size: 0.5rem;
    text-align: center;
    margin-left: 10px; }
  .whatsapp {
    position: fixed;
    width: 1.438rem;
    height: 1.438rem;
    line-height: 1.438rem;
    bottom: 1.875rem;
    right: 1.875rem;
    background: #0df053;
    color: #fff;
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    box-shadow: 0rem 0.063rem 0.625rem rgba(0, 0, 0, 0.3);
    z-index: 100; } }

.body {
  background-color: #dcebd9; }

h1, h3 {
  color: rgba(65, 111, 57, 0.233);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

/*  FORM CONTACTO Y FECHAS */
.form {
  width: 28.125rem;
  margin: auto;
  background: rgba(0, 0, 0, 0.199);
  padding: 0.625rem 1.25rem;
  box-sizing: border-box;
  margin-top: 1.25rem;
  border-radius: 0.438rem;
  font-family: "Josefin Sans", sans-serif; }

/* IMPUT/TEXTAREA CONTACTO Y FECHAS */
input, textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.438rem;
  box-sizing: border-box;
  font-size: 1.063rem;
  border: none;
  font-family: "Josefin Sans", sans-serif; }

/*  H1C DE CONTACTO/FECHAS/SERVICIOS/GALERIA */
.h1c {
  color: #fdfdfd;
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  font-family: "Josefin Sans", sans-serif; }

textarea {
  min-height: 6.25rem;
  min-height: 12.5rem;
  max-width: 100%; }

#boton {
  background-color: #416f39;
  color: #fff;
  padding: 1.25rem; }

.textogaleria {
  color: #071f0a;
  text-align: center;
  padding-inline-end: 1.25rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 6.25rem;
  font-weight: 6.25rem; }

@media screen and (max-width: 768px) {
  .form {
    width: 20rem;
    margin: auto;
    background: rgba(0, 0, 0, 0.199);
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
    margin-top: 1.25rem;
    border-radius: 0.438rem;
    font-family: "Josefin Sans", sans-serif; }
  input, textarea {
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.438rem;
    box-sizing: border-box;
    font-size: 1.063rem;
    border: none;
    font-family: "Josefin Sans", sans-serif; }
  iframe {
    max-width: 100%;
    height: auto; }
  .textogaleria {
    font-size: 1.5rem;
    font-weight: 1.5rem;
    margin-bottom: 6.25rem; } }
